<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--wspólny layout dla wszystkich stron-->
<head>
    <meta charset="UTF-8">
    <title>...</title>
    <!--    dla wszystkich elementow margin 0-->
    <style type="text/css">
        *{
            margin: 0;
        }
    </style>
</head>
<body>

<!--dodajemy wspołny elemant dla wszystkich stron, header z pliku fragments-->
<div class="content" th:replace="fragments::header"></div>

<!--wspólny layout-->
<div layout:fragment="content"></div>

<h2>Strona główna</h2>
<!--wspólny element footer-->
<div class="content" th:replace="fragments::footer"></div>

</body>
</html>